/************************banner************************/
#header,#banner,#nav,#main,#footer-plan,#footer{

    margin: 0 auto;
}
#bg1{
    width:100%;
    height:575px;
    background: url(../imgs/bg.jpg);
    padding-top: 25px;
    background-size: 100% 100%;
}
#bg2{
    margin: 0 auto;
    width: 1200px;
    height: 525px;
    background-image: url(../imgs/bg2.png);
    background-size: 100% 100%;
}
#banner-left,#banner-right{
    float: left;
    width:576px;
    height: 490px;
    margin-top: 17px;
    background-size: 100% 100%;
}
#banner-left{
    margin-left: 20px;
    margin-right: 3px;
    background-image: url(../imgs/yuyue.jpg);
    cursor: pointer;
}
#banner-right{
    margin-left:5px ;
    background-image: url(../imgs/jiameng.jpg);
}

/*banner 模态框*/
#model{
    position: fixed;
    width: 100%;
    height: 880px;
    background: rgba(0,0,0,0.5);
    top: 0;
    display: none;
    z-index: 1;
}
#model.show{
    display: block;
}
#order{
    margin: 130px auto;
    width: 1106px;
    height: 484px;
    background-image:url(../imgs/yuyue_bg.jpg);
    background-size: 100% 100%;
    position: relative;
}
#order div.close{
    width: 54px;
    height: 54px;
    background: url("../imgs/close.png");
    position: absolute;
    top: -5px;
    left: 1106px;
    cursor: pointer;
}
/***************************nav*****************************/
#nav-parents>div{
    width: 100%;
    padding: 17px 120px;
    border-bottom: 1px dotted #E7E4E2;
}
#nav-parents>div>b{
    padding:5px 11px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#nav-parents>div>b:hover{
    background: #FF8CB3;
    color: #fff;
}
.current{
    background: #FF8CB3;
    color: #fff;
}
#nav-parents>#w-color>div{
    float: right;
    cursor: pointer;
}
#nav-parents>#w-color>div>b{
    padding: 0;
    margin: 0;
    display: block;
    width: 80px;
    height: 18px;
    border-radius: 0;
}
#nav-parents>#w-color>div:first-child{
    margin-right: 550px;
}
.c1{
    background: red;
}
.c2{
    background: #F03D9E;
}
.c3{
    background: #FFB2B2;
}
.c4{
    background: #FFE443;
}
.c5{
    background: #F3B124;
}
.c6{
    background: #7AE07E;
}
.c7{
    background: #79BFF0;
}
.c8{
    background: #fff;
    border: 1px solid #dddddd;
}
#nav-parents>#w-sort{
    border-bottom: none;
}
#nav-parents>#w-sort>b{
    padding: 5px 15px;
    margin-right: 10px;
    border:1px solid #E7E4E2;
    border-radius: 3px;
    margin-left: 0;
}
#w-sort>div.right{
    margin-right: 650px;
    border:1px solid #E7E4E2;
    border-radius: 3px;
    height: 29px;
    position: relative;
    top: -5px;
    left: -46px;
    padding: 2px 10px 0 10px;
}
#w-sort input[type=text]{
    width: 60px;
    height: 18px;
}
#w-sort input:first-child{
    margin-left: 20px;
}
#w-sort input[type=button]{
    background: #ffffff;
    border:1px solid #E7E4E2;
    padding: 2px 10px;
    cursor: pointer;
    color: #777777;
    font-size: 13px;
}
#w-sort{
    position: relative;
}
div.qiehuan{
    width: 72px;
    height: 32px;
    position: absolute;
    top: 15px;
    left: 1269px;
    border: 1px solid #EEEEEE;
}
div.qiehuan>div{
    width: 35px;
    height: 30px;
    cursor: pointer;
}
.huise2{
    background: url("../imgs/display_01.png") no-repeat 10px 10px;
}
.hongse2{
    background: url("../imgs/display_02.png") no-repeat 10px 10px;
}
.hongse1{
    background: url("../imgs/display_03.png") no-repeat 10px 10px;
}
.huise1{
    background: url("../imgs/display_04.png") no-repeat 10px 10px;
}
div.qiehuan>div:last-child{
    border-right: 1px solid #EEEEEE;
}
/******************************页面主体1***********************************************/
#ul-parent{
    margin-bottom: 130px;
}
#main-list{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap:wrap;
}
#main-list>li{
    padding: 15px;
    margin: 10px;
    border: 1px solid #E8E8E8;
    position: relative;
}
#main-list>li:hover{
    border: 1px solid #FE538B;
    border-bottom:none;
}
#main-list img{
    width: 100%;
}
#main-list .list-img{
    width: 540px;
}
/*图片上文字*/
#main-list div.img-text{
    position: absolute;
    width:430px;
    height: 45px;
    background: #fff;
    opacity: 0.7;
    top: 272px;
    left: 70px;
}
/****图片下方文字***/
#main-list div.list-text{
    text-align: center;
}
#main-list div.list-text h4{
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
}
#main-list div.list-text p{
    font-size: 14px;
    width: 400px;
    height:18px;
    text-overflow:ellipsis;
    overflow: hidden;
    margin:0 auto;
}
ul.plzan{
    display: flex;
    margin: 30px 0px 10px 200px;
}
ul.plzan li:first-child{
    width: 56px;
    height: 30px;
    background-image: url(../imgs/mes.jpg);
}
ul.plzan li:last-child{
    width: 75px;
    height: 30px;
    background-image: url(../imgs/xin.jpg);
    margin-left: 10px;
}
ul.plzan li span{
    position: relative;
    top: 6px;
    left: 15px;
    color: #D3D3D3;
}
#main-list div.list-text div.list-price{
    color: #FE538B;
    font-size: 22px;
}
/******隐藏评论******/
#main-list div.list-hidden{
    width: 572px;
    height: 0px ;
    overflow: hidden;
    position: absolute;
    top: 501px;
    left: -1px;
}
#main-list>li:hover div.list-hidden{
    height: 190px;
    border: 1px solid #FE538B;
    border-top: none;
    transition:height 500ms;
    background: #ffffff;
    z-index: 5;
}
#main-list div.list-hidden li{
    width: 500px;
    border-top: 1px dashed #E8E8E8;
    margin: 0 auto;
    padding: 15px 0 30px 0;
}
#main-list div.list-hidden ul li b{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../imgs/head001.jpg);
    background-size: cover;
    margin-right: 15px;
}
#main-list div.list-hidden ul li span{
    color: #5C93C8;
}
#main-list div.list-hidden ul li p{
    height: 18px;
    overflow: hidden;
    margin-top: 5px;
}
/*翻页*/
#foot-page{
    margin-top: 20px;
    text-align: center;
}
#foot-page a,#foot-page b{
    padding: 5px 10px;
    margin-left: 5px;
    border:1px solid #E7E4E2;
    border-radius: 3px;
    cursor: pointer;
}
#foot-page a:hover,#foot-page b:hover{
    background: #FF4181;
    color: #ffffff;
}
#foot-page span{
    margin: 0 10px;
}
.page-current{
    color: #ffffff;
    background: #FF4181;
}
#ul-parent>p{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #979797;
}
/**************************************页面主体2*****************************************/
#ul-parent2{
    width: 1200px;
    margin: 0 auto;

}
#ul-parent2>ul>li{
    width: 1200px;
    border: 1px solid #EBE9E7;
    height: 480px;
    margin: 37px 0;
}
#ul-parent2 div.li-top-left{
    width: 700px;
    padding: 5px;
    float: left;
}
#ul-parent2 div.li-top-left img{
    float: left;
    margin: 6px;
    width: 240px;
    height: 170px;
}
#ul-parent2 div.li-top-left img:first-child{
    width: 425px;
    height: 350px;
}
#ul-parent2 div.li-top-right{
    float: left;
    width: 460px;
    margin-left: 20px;
    background: #ffffff;
}
#ul-parent2 div.li-top-right-top h1{
    padding: 15px 0;
    border-bottom: 1px dashed #CCCCCC;
}
#ul-parent2 div.li-top-right-top p{
    line-height: 30px;
    margin-top: 10px;
}
#ul-parent2 div.li-top-right-center{
    width: 460px;
    background: #FAFAFA;
}
#ul-parent2 div.li-top-center{
    margin-top: 15px;
    background: #FAFAFA;
    height: 32px;
    position: relative;
}
#ul-parent2 div.li-top-center b{
    display: inline-block;
    width: 66px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #FC7DA8;
    color: #ffffff;
    font-size: 12px;
}
#ul-parent2 div.li-top-center i{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #FC7DA8;
    top: 10px;
    left: 66px;
}
#ul-parent2 div.li-top-center span{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding: 8px 15px;
    color: #999;
}
#ul-parent2 div.li-top-right{
    position: relative;
}
#ul-parent2 div.li-top-right-bottom{
    position: absolute;
    top: 283px;
    left: 0;
    width: 460px;
    height: 80px;
}
#ul-parent2 div.li-top-right-bottom ul{
    padding: 0;
    margin: 50px 0 0 0;
}
#ul-parent2 div.li-top-right-bottom ul li span{
    left: 35px;
}
div.yuanjia div{
    background: #FC7DA8;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 40px;
    margin-left: 10px;
}
div.yuanjia div b{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 10px solid #FC7DA8;
    top: 49px;
    left: 0;
}
div.yuanjia div span,div.yuanjia div p{
    color: #ffffff;
}
div.yuanjia>span{
    color: #999999;
    font-size: 12px;
    text-decoration: line-through;
}
div.yuanjia>p{
    color: #FF7DA9;
    font-size: 20px;
    position: relative;
    top: -20px;
    left: -5px;
}
div.yuanjia{
    position: relative;
    top: 16px;
    left: 0;
}
div.li-bottom{
    border-top: 1px solid #E7E4E2;
}
div.li-bottom-1{
    width: 399px;
    float: left;
    padding: 32px;
}
div.li-bottom-1>b{
    float: left;
    width: 39px;
    height: 39px;
    border-radius: 50% 50%;
    background: url("../imgs/bottom002.jpg");
    position: relative;
    top: 0;
    left: -14px;
}
div.li-bottom-1>div>a{
    font-size: 12px;
    color: #7099C9;
}
div.li-bottom-1>div>span{
    color: #777;
    font-size: 12px;
}
div.li-bottom-1>div>p{
    width: 250px;
    height: 14px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}
div.xuxian{
    width: 1200px;
    border-top: 1px dashed #eeeeee;
    margin: 18px 0;
}
/****************************页面底部******************************/
#plan{
    width: 100%;
    height: 120px;
    background: #F5F5F5;
    margin-top: 80px;
    position: relative;
    padding-left: 470px;
}
#plan div.plan-choose-style,#plan div.plan-choose-money{
    float: left;
}
#plan>div.plan-left{
    width: 148px;
    height: 199px;
    background: url(../imgs/r_zt.png);
    position: absolute;
    top: -80px;
    left: 240px;
}
#plan>p{
    font-size: 18px;
    color: #333;
    padding-top: 20px;
}
#plan div.select-plan-style,#plan div.select-plan-money{
    width: 250px;
    border: 1px solid #DEDEDE;
    background: #ffffff;
    padding: 13px;
    margin-top: 15px;
    position: relative;

}
#plan>div.plan-choose-style,#plan>div.plan-choose-money{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
#plan>div>div>p{
    font-size: 16px;
}
#plan>div>div>b{
    display: block;
    width: 15px;
    height: 9px;
    background: url(../imgs/slideDown.png);
    position: absolute;
    top: 20px;
    left: 215px;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#plan button{
    font-size: 18px;
    color: #ffffff;
    padding: 11px 25px;
    background: #FF7DA9;
    border:none;
    position: relative;
    top: 15px;
    left: 30px;
    cursor:pointer;
}
/**隐藏选项**/
#plan div.hidden-choose-style,#plan div.hidden-choose-money{
    width: 250px;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 306px;
    left: 0;
    z-index: 100;
    border: 1px solid transparent;
}
#plan div ul{
    padding: 10px 0;
    background: #ffffff;
}
#plan div li{
    padding: 10px 30px;
    border-top:1px dashed #eee;
    color: #777777;
    font-size: 14px;
}
#plan div li:first-child{
    border: none;
}
#plan div.plan-choose-style:hover div.select-plan-style,#plan div.plan-choose-money:hover div.select-plan-money{
    border: 1px solid #FFA7C5;
    border-top: 1px solid #fff;
}
#plan div.plan-choose-style:hover div.hidden-choose-style,#plan div.plan-choose-money:hover div.hidden-choose-money{
    height: 260px;
    border: 1px solid #FFA7C5;
    border-bottom: none;
    transition: height 500ms;
    bottom:48px;
}
#plan div.hidden-choose-style li:hover,#plan div.hidden-choose-money li:hover{
    background: #FFBED4;
}


/***********************模态框*************************/
#order>button{
    width: 280px;
    height: 50px;
    background: #FF8AB2;
    color: #ffffff;
    font-size: 18px;
    display: block;
    border: none;
    margin: 120px auto 0 auto;
    cursor: pointer;
    outline: none;
}
#order>p{
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}
.choose-parent{
    position: relative;
    width: 800px;
    height: 56px;
    margin: 200px auto 0 auto;
    left: 12px;
    top: 0;
}
.model-plan-choose-style,.model-plan-choose-money,.model-plan-choose-changjing{
    float: left;
}
.model-select-plan-style,.model-select-plan-money,.model-select-plan-changjing{
    width: 250px;
    border: 1px solid #DEDEDE;
    background: #ffffff;
    padding: 13px;
    margin-top: 15px;
    position: relative;
}
.model-plan-choose-style,.model-plan-choose-money,.model-plan-choose-changjing{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.choose-parent>div>div>p{
    font-size: 16px;
}
.choose-parent>div>div>b{
    display: block;
    width: 15px;
    height: 9px;
    background: url(../imgs/slideDown.png);
    position: absolute;
    top: 20px;
    left: 215px;
}
/*隐藏选项*/
.model-hidden-choose-style,.model-hidden-choose-money,.model-hidden-choose-changjing{
    width: 250px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 100;
    border: 1px solid transparent;
}

.choose-parent>div ul{
    background: #ffffff;
}
.choose-parent>div li{
    padding: 10px 30px;
    border-top:1px dashed #eee;
    color: #777777;
    font-size: 14px;
}
.choose-parent>div li:first-child{
    border: none;
}
.model-plan-choose-style:hover .model-select-plan-style,.model-plan-choose-money:hover .model-select-plan-money,.model-plan-choose-changjing:hover .model-select-plan-changjing{
    border: 1px solid #FFA7C5;
    border-top: 1px solid #fff;
}
.model-plan-choose-style:hover .model-hidden-choose-style,.model-plan-choose-money:hover .model-hidden-choose-money{
    height: 239px;
    border: 1px solid #FFA7C5;
    border-top: none;
    transition: height 500ms;
}
.model-plan-choose-style:hover div>b,.model-plan-choose-money:hover div>b,.model-plan-choose-changjing:hover div>b{
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: transform 600ms;
    -moz-transition: transform 600ms;
    -ms-transition: transform 600ms;
    -o-transition: transform 600ms;
    transition: transform 600ms;
}
.model-plan-choose-changjing:hover .model-hidden-choose-changjing{
    height: 199px;
    border: 1px solid #FFA7C5;
    border-top: none;
    transition: height 500ms;
}
.model-hidden-choose-style li:hover,.model-hidden-choose-money li:hover,.model-hidden-choose-changjing li:hover{
    background: #FFBED4;
}

/*模态2*/
.phone input{
    padding: 24px;
    width: 400px;
    height: 54px;
    font-size: 16px;
    border: 1px solid #e8e8e8;
    display: block;
    float: left;
    color:  #252525;
    outline: none;
}
.phone input:first-child{
    margin-right: 15px;
}
.phone{
    position: relative;
    width: 1000px;
    height: 56px;
    margin: 200px auto 0 auto;
    left: 12px;
    top: 0;
}
.phone button{
    width: 150px;
    height: 54px;
    background: #252525;
    font-size: 16px;
    color: #ffffff;
    display: block;
    float: left;
    border: none;
    cursor: pointer;
    outline: none;
}
/*girl*/
#girl{
    width: 800px;
    height: 404px;
    background: #ffffff;
    margin: 150px auto 0 auto;
}
.pic-girl{
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
#girl h1{
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-top: 40px;
}
#girl p{
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 5px;
}
#girl button{
    width: 220px;
    height: 48px;
    border: 0;
    outline: 0;
    float: left;
    display: block;
    font-size: 18px;
    margin-top: 32px;
    cursor: pointer;
}
#girl button:nth-child(4){
    background: #FF8AB2;
    color: #ffffff;
    margin-left: 176px;
    margin-right: 15px;
}
#girl button:last-child{
    background: #F5F5F5;
    color: #999;
}






